<h3>classes you created</h3>
<table class="table">
    <tr>
        <th>Class Name</th>
        <th>Instructor</th>
        <th>Start Date</th>
    </tr>
    <% Course.where(:creator_id => current_user.id).each do |t| %>
        <tr>
            <td><%= link_to t.name, course_path(t.id) %></td>
            <td><%= t.instructor %></td>
            <td><%= t.start_date %></td>
        </tr>
    <% end %>
</table>

<h3>classes you signed up for</h3>
<table class="table">
    <tr>
        <th>Class Name</th>
        <th>Instructor</th>
        <th>Start Date</th>
    </tr>
    <% current_user.courses.each do |t| %>
        <tr>
            <td><%=link_to t.name, course_path(t.id) %></td>
            <td><%= t.instructor %></td>
            <td><%= t.start_date %></td>
        </tr>
    <% end %>
</table>

<h3>classes you are interested in</h3>
