<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= form_tag(users_path, method: 'get') do %>
  search user by
  <%= select_tag "search", options_for_select(["name", "zip_code"]) %>
  : <%=text_field_tag :query %>
  <%= submit_tag "search", "class" => "btn btn-primary btn-submit"%>
<% end %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= user.zip_code %>
    </li>
  <% end %>
</ul>

<% if @paginate %>
  <%= paginate @users %>
<% end %>
