<% provide(:title, 'Users') %>
<h1>palette users</h1>
<%= form_tag(users_path, method: 'get') do %>
<div class="row">
    <div class="col-md-4">
        <%= select_tag "search", options_for_select([["Name","name",],["Zip Code", "zip_code"]]), "class" => "select-search" %>
    </div>
    <div class="col-md-4">
        <%= text_field_tag :query, nil, placeholder: 'Enter search term...', "class" => "select-search"  %>
    </div>
    <div class="col-md-4">
        <%= submit_tag "search", "class" => "btn btn-primary", "id" => "btn-search"%>
    </div>
<% end %>
</div>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 users">
      <div class="thumbnail">
        <img <%= gravatar_for user %>
        <div class="caption">
          <h5><%= link_to user.name, user %></h5>
          <h5><%= user.description %></h5>
          <h5>Mixing since <%= user.created_at.strftime("%m/%d/%Y") %></h5>
          <h5>Based out of <%= user.zip_code%></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
