<% provide(:title, @user.name) %>
<h1><%= @user.name.downcase %></h1>
<div class="row">
  <div class="col-md-12 users">
    <div class="thumbnail">
      <img <%= gravatar_for @user %>
      <div class="caption">
        <h5><%= @user.name %></h5>
        <h5><%= @user.description %></h5>
        <h5>Mixing since <%= @user.created_at.strftime("%m/%d/%Y") %></h5>
        <h5>Based out of <%= @user.zip_code%></h5>
      </div>
    </div>
  </div>
</div>


<% if current_user.id == @user.id %>
  <h5><%= link_to "create a class", new_course_path%> &nbsp; &nbsp; <%= link_to "sign up for classes", courses_path%></h5>
  <%= render 'users/myclasses'%>
<% end %>

<div class ="center">
  <%= form_tag(user_path, method: "get") do %>
    <%= submit_tag "prev user", "class" => "btn btn-primary btn-prev" %>
    <%= submit_tag "next user", "class" => "btn btn-primary btn-next" %>
  <% end %>
</div>
