<% provide(:title, 'Classes') %>

<h1>classes available</h1>

<%= form_tag('courses_path', method: 'get') do %>
  search class by
  <%= select_tag "search", options_for_select(["name", "instructor", "zip_code"]) %>
  : <%=text_field_tag :query %>
  <%= submit_tag "search", "class" => "btn btn-primary btn-submit"%>
<% end %>

<table class="table">
    <tr>
        <th></th>
        <th><%= link_to "Course", sort_path(order_by: "name")%></th>
        <th><%= link_to "Instructor", "#" %></th>
        <th><%= link_to "Location", "#" %></th>
        <th><%= link_to "Held On", "#" %></th>
        <th><%= link_to "Start Date", "#" %></th>
        <th><%= link_to "End Date", "#" %></th>
        <th><%= link_to "Sessions", "#" %></th>
        <th><%= link_to "Price", "#" %></th>
        <th><%= link_to "Interested", "#" %></th>
        <th><%= link_to "Sign Up", "#" %></th>
    </tr>
    <% @courses.each do |course| %>
    <tr>
        <td><%= link_to image_tag(course.course_image_url, :class => "image"), course_path(course)%></td>
        <td><%= course.name %></td>
        <td><%= course.instructor %></td>
        <td><%= course.zip_code %></td>
        <td><%= course.course_day_of_week %></td>
        <td><%= course.start_date.strftime("%m/%d/%Y") %></td>
        <td><%= course.end_date.strftime("%m/%d/%Y") %></td>
        <td><%= course.sessions_per_course %></td>
        <td><%= number_to_currency(course.price) %></td>
    </tr>
    <% end %>
</table>
