<!-- this page shows all the classes offered on palette -->
<% provide(:title, 'Classes') %>
<h1>classes available</h1>

<%= form_tag(courses_path, method: 'get') do %>
<!-- search tools -->
<div class="row">
    <div class="col-md-4">
        <%= select_tag "search", options_for_select([["Class Name", "name"], ["Instructor Name", "instructor"], ["Zip Code", "zip_code"]]), "class" => "select-search select-div" %>
    </div>
    <div class="col-md-4">
        <%= text_field_tag :query, nil, placeholder: 'Enter search term...', "class" => "select-search"  %>
    </div>
    <div class="col-md-4">
        <%= submit_tag "search", "class" => "btn btn-primary", "id" => "btn-search"%>
    </div>
<% end %>
</div>

<!-- table with courses listed and sort functionality -->
<div class="container">
<table class="table">
    <tr>
        <th></th>
        <th><%= link_to "Course", sort_url(order_by: "name") %></th>
        <th><%= link_to "Instructor", sort_url(order_by: "instructor") %></th>
        <th><%= link_to "Location", sort_url(order_by: "zip_code") %></th>
        <th><%= link_to "Held On", sort_url(order_by: "course_day_of_week") %></th>
        <th><%= link_to "Start Date", sort_url(order_by: "start_date") %></th>
        <th><%= link_to "End Date", sort_url(order_by: "end_date") %></th>
        <th><%= link_to "Sessions", sort_url(order_by: "sessions_per_course") %></th>
        <th><%= link_to "Price", sort_url(order_by: "price") %></th>
        <% if logged_in? %>
<!--             <th><%= link_to "Interested", "#" %></th>
 -->        <th><%= link_to "Enroll", "#" %></th>
            <th><%= link_to "Unenroll", "#" %></th>
        <% end %>
    </tr>
    <% @courses.each do |course| %>
    <tr>
        <td><%= link_to image_tag(course.course_image_url, :class => "thumbnail-image img-rounded"), course_path(course)%></td>
        <td><%= link_to course.name, course_path(course) %></td>
        <td><%= course.instructor %></td>
        <td><%= course.zip_code %></td>
        <td><%= course.course_day_of_week %></td>
        <td><%= course.start_date.strftime("%m/%d/%Y") %></td>
        <td><%= course.end_date.strftime("%m/%d/%Y") %></td>
        <td><%= course.sessions_per_course %></td>
        <td><%= number_to_currency(course.price) %></td>
        <% if logged_in? %>
<!--             <td><%= link_to 'interested', interested_path(course), :class => "btn btn-primary"%></td> -->
            <td><%= link_to 'enroll', courses_enroll_path(course), :class => "btn btn-primary btn-enroll toggle", :id=>"enroll-toggle"%></td>
            <td><%= link_to 'unenroll', courses_unenroll_path(course), :class => "btn btn-primary btn-enroll" %></td>
        <% end %>
    </tr>
    <% end %>
</table>
</div>
<% if @paginate %>
  <%= paginate @courses %>
<% end %>


<!-- // $("#enroll-toggle").click(function(){
//     $(".toggle").toggle();
// }); -->



