<h1><%= @course.name %></h1>

<p><%= @course.instructor %></p>
<p><%= @course.zip_code %></p>
<p><%= @course.description %></p>
<p><%= @course.start_date %></p>
<p><%= @course.price %></p>
<p><%= @course.course_image_url %></p>
