<% provide(:title, @course.name) %>
<div class="row">
  <h1><%= @course.name %></h1>
  <h2><%= @course.description %></h2>
  <p>Instructor: <%= @course.instructor %></p>
  <p>Located in <%= @course.zip_code %></p>
  <p><%= @course.start_date.strftime("%m/%d/%Y") %></p>
  <p><%= @course.end_date.strftime("%m/%d/%Y") %></p>
  <p><%= @course.start_time %></p>
  <p><%= @course.end_time %></p>
  <p><%= number_to_currency(@course.price) %></p>
  <p><%= image_tag(@course.course_image_url, :class => "image")%></p>
</div>

<% if logged_in? %>
  <h4><%= link_to 'interested', interested_path, :class => "btn btn-primary" %></h4>
  <h4><%= link_to 'enroll', courses_enroll_path, :class => "btn btn-primary" %></h4>
  <h4><%= link_to 'unenroll', courses_unenroll_path, :class => "btn btn-primary" %></h4>

<%= render 'reviews/newreview' %>

<h3><%= link_to "edit class", edit_course_path%></h3>
<h3><%= link_to "delete class", course_path, method: :delete %></h3>
<% end %>

<%= form_tag(course_path, method: "get") do %>
    <%= submit_tag "Prev", "class" => "btn btn-primary" %>
    <%= submit_tag "Next", "class" => "btn btn-primary" %>
<% end %>
