<footer class="footer">
  <small>
    Palette | Art &amp; Design Classes in Los Angeles, CA
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    </ul>
  </nav>
</footer>
