<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "P A L E T T E", root_path, id: "logo" %>
    <nav>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if !logged_in? %>
            <li><%= link_to "about", about_path %></li>
            <li><%= link_to "contact", contact_path %></li>
            <li><%= link_to "classes", courses_path %></li>
            <% end %>
          <% if logged_in? %>
            <li><%= link_to "about", about_path %></li>
            <li><%= link_to "contact", contact_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  classes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "all classes", courses_path, class: "d-list" %></li>
                <li><%= link_to "my classes", current_user, class: "d-list" %></li>
                <li class="divider"></li>
                <li><%= link_to "create a class", addcourses_path, class: "d-list" %></li>
              </ul>
            <li><%= link_to "users", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "profile", root_path, class: "d-list" %></li>
                <li><%= link_to "settings", edit_user_path(current_user), class: "d-list" %></li>
                <li class="divider"></li>
                <li><%= link_to "log out", logout_path, method: "delete", class: "d-list" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'log in', login_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#loginModal', 'data-type' => "html" } %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
